---
import Button from '../components/Button.tsx';
import Charcaters from '../components/Characters.tsx';
import CounterVue from '../components/Counter.vue';
import BaseLayout from '../layouts/BaseLayout.astro';
const charcaters = await fetch('https://finalspaceapi.com/api/v0/character?limit=5').then((res) => res.json());
---

<BaseLayout title={'Testing 123'}>
	<h1>Welcome!</h1>
	<Button client:visible>React button</Button>
	<Charcaters characters={charcaters}></Charcaters>
	<CounterVue client:visible/>
</BaseLayout>